<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Correio da Lavoura OCR</title>
</head>
<body>
  <main>
    <h1>Lista de Edições Disponíveis</h1>
    <h2>Selecione uma edição para ler o texto</h2>

    <ul>
      <li>
        <a href="edition/01"><img src="img/edicao01.png" alt="Edição 01 de XX de YYYY"></a>
        <a href="edition/01">Edição 01 de XX de YYYY</a>
      </li>

      <li>
        <a href="edition/02"><img src="img/edicao02.png" alt="Edição 02 de XX de YYYY"></a>
        <a href="edition/02">Edição 02 de XX de YYYY</a>
      </li>

      <li>
        <a href="edition/03"><img src="img/edicao03.png" alt="Edição 03 de XX de YYYY"></a>
        <a href="edition/03">Edição 03 de XX de YYYY</a>
      </li>

      <li>
        <a href="edition/04"><img src="img/edicao04.png" alt="Edição 04 de XX de YYYY"></a>
        <a href="edition/04">Edição 04 de XX de YYYY</a>
      </li>
    </ul>
  </main>
</body>
</html>
